app-footer {
  margin-top: 30px;
  margin-bottom: 20px;
  width: calc(75% + 20px);
  float: right;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-left: 20px;
  text-align: center;

    .copyright {
      font-size: 9px;
      color: gray;
    }
}
