<h1>Создание направления</h1>
<br>
<form>
  <div class="form-group">
    <div class="form-row">
      <label>Название направления:</label>
      <input class="form-control" type="text" [(ngModel)]="courseName" name="courseName">
      <span class="control-error" *ngIf="!isValidLength(courseName)">Название должно быть не больше 45 символов.</span>
      <span class="control-error" *ngIf="!isEmpty(courseName)">Название необходимо заполнить.</span>
    </div>
    <br>
    <div class="form-row">
      <label>Квалификация (номер):</label>
      <input class="form-control" type="text" [(ngModel)]="qualification" name="qualification">
      <span class="control-error" *ngIf="!isNumber(qualification)">Квалификация должна быть целой цифрой.</span>
    </div>
    <br>
    <div class="form-row text-center button">
      <button type="button" class="btn btn-act btn-default" (click)="createCourse()">
        Добавить
      </button>
    </div>
  </div>
</form>
