<h1>Создание направления</h1>

<!--<div >
  <div class="form-group col-md-6">
    <label>Название направления</label>
    <input type="text" class="form-control" id="inputCourse" formControlName="courseName" />
  </div>
  <div class="form-group col-md-6">
    <label for="inputQualification">Квалификация(номер)</label>
    <input type="text" class="form-control" id="inputQualification" formControlName="qualification" />
  </div>
</div>-->
<button type="button" class="btn btn-act btn-full" (click)="createCourse()">Создать</button>
